* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

a {
    text-decoration: none;
}

a,
input,
span {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

input,
select,
label {
    cursor: pointer;
}

input:focus,
select {
    outline: none;
    outline: thin dotted \9;
}

body {
    width: 908px;
    margin: 0 auto;
    font: 14px 'Lucida Sans Unicode', Arial, sans-serif;
    color: #000;
}

/* Header */

.topbar {
    position: relative;
    margin: 17px 0 10px;
}

.topbar li {
    float: left;
}

.contact-bar, .login-form {
    float: left;
}

.top-navbar {
    float: right;
}

.login-form .form-group {
    display: inline-block;
}

.contact-bar {
    position: relative;
    top: 6px;
    font-size: 18px;
    color: #5e696d;
    padding: 0 15px 0 30px;
    background: url(../img/icons/icon-phone.png) no-repeat top left 6px;
    font-family: Arial, sans-serif;
}

.contact-bar li:first-child {
    margin-right: 19px;
}

.top-navbar {
    position: relative;
    top: 2px;
    right: 6px;
    height: 20px;
    padding: 0 6px;
    background: #fff;
    border: 1px solid #b1bcc0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 5px #b1bcc0;
    -moz-box-shadow: 0 0 5px #b1bcc0;
    box-shadow: 0 0 5px #b1bcc0;
}

.top-navbar a {
    display: inline-block;
    height: 11px;
    width: 21px;
    opacity: 0.5;
}

.top-navbar a:hover {
    opacity: 1;
}

.home {
    background: url(../img/icons/icon-home.png) no-repeat top -1px left 2px;
}

.sitemap {
    background: url(../img/icons/icon-sitemap.png) no-repeat top 0 left 1px;
}

.envelope {
    background: url(../img/icons/icon-envelope.png) no-repeat top 1px left 3px;
}

.login-form {
    position: relative;
    color: #fff;
    font-size: 12px;
    padding: 3px 10px 5px 25px;
    border-top: 1px solid #a6c3cf;
    border-left: 1px solid #dce7ec;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: rgb(31, 103, 135);
    background: -webkit-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: -moz-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: -o-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    -webkit-box-shadow: 1px 3px 4px rgb(185, 185, 185);
    -moz-box-shadow: 1px 3px 4px rgb(185, 185, 185);
    box-shadow: 1px 3px 4px rgb(185, 185, 185);
}

.login-form:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 1;
    background: url(../img/icons/icon-user.png) no-repeat left 7px top 4px;
}

.login-form a,
.login-form input {
    position: relative;
    z-index: 10;
}

.login-form .form-group {
    padding: 0 5px 0 0;
}

.login-form .form-control {
    display: block;
    width: 113px;
    height: 17px;
    padding-left: 3px;
    background: #fff;
    border: 1px solid #9ba1a3;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 2px #dee0e0;
    -moz-box-shadow: inset 0 1px 2px #dee0e0;
    box-shadow: inset 0 1px 2px #dee0e0;
    line-height: normal;
}

.login-form .form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    font-size: 11px;
    padding-top: 1px;
}

.login-form .form-control::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 10px;
    padding-top: 1px;
}

.login-form .form-control:-ms-input-placeholder {
    /* IE 10+ */
    font-size: 10px;
    padding-top: 1px;
}

.login-form .form-control:-moz-placeholder {
    /* Firefox 18- */
    font-size: 10px;
    padding-top: 1px;
}

.login-form .btn {
    padding: 0;
    background: transparent;
    border: none;
    font-size: 11px;
    color: #fff;
}

.login-form a {
    color: #fff;
    font-size: 11px;
}

.login-form a:first-of-type {
    padding-right: 15px;
}

.login-form a:last-of-type {
    display: inline-block;
    line-height: 13px;
    font-size: 12px;
    color: #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

.login-form a:last-of-type:hover {
    border-bottom: 1px solid #6b6b6b;
}

.login-form .btn:hover,
.login-form a:hover {
    color: #6b6b6b;
}

.banner {
    height: 244px;
    background: url(../img/banner-bg.jpg) no-repeat top left;
}

header nav li {
    float: left;
}

header nav {
    position: relative;
    border: #0d1642;
    background: rgb(58, 64, 70);
    background: -webkit-linear-gradient(rgb(77, 86, 99) 10%, rgb(45, 50, 54) 15%, rgb(1, 1, 1) 100%);
    background: -moz-linear-gradient(rgb(77, 86, 99) 10%, rgb(45, 50, 54) 15%, rgb(1, 1, 1) 100%);
    background: -o-linear-gradient(rgb(77, 86, 99) 10%, rgb(45, 50, 54) 15%, rgb(1, 1, 1) 100%);
    background: linear-gradient(rgb(77, 86, 99) 10%, rgb(45, 50, 54) 15%, rgb(1, 1, 1) 100%);
    -webkit-box-shadow: 3px 3px 5px #333;
    -moz-box-shadow: 3px 3px 5px #333;
    box-shadow: 3px 3px 5px #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 3px 0;
    text-align: center;
    margin-bottom: 10px;
}

.navbar {
    position: relative;
    left: 126px;
}

.navbar a {
    display: inline-block;
    padding: 4px 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #b1bcc0;
    border: 1px solid transparent;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

.navbar li.active a {
    padding: 3px 14px 3px 20px;
}

.navbar li.active a,
.navbar li a:hover {
    color: #fff;
    border-bottom: 1px solid #09233b;
    border-top: 1px solid #25617b;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    background: -webkit-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: -moz-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: -o-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
}

.navbar li:nth-child(3) a {
    padding: 4px 12px 4px 12px;
}

.navbar li:last-child a {
    padding-left: 8px;
}

.navbar-right {
    position: absolute;
    right: 5px;
    padding-left: 20px;
    background: url(../img/icons/icon-shopping-cart.png) no-repeat top 5px left;
    font-family: Arial, sans-serif;
}

.navbar-right a {
    display: inline-block;
    color: #0d5a8f;
    font-size: 12px;
}

.navbar-right a:hover span,
.navbar-right a:focus span {
    color: #6b6b6b;
}

.navbar-right li:nth-of-type(1) a {
    padding: 4px 5px 4px 8px;
}

.navbar-right li:nth-of-type(2) a {
    padding: 4px 11px 4px 10px;
}

.navbar-right li:nth-of-type(2) span {
    padding-right: 13px;
}

.navbar-right a span {
    display: inline-block;
    line-height: 16px;
    vertical-align: text-bottom;
    padding-right: 5px;
    font-size: 11px;
    color: #8a9296;
}

/* Filters */

.filters {
    margin-bottom: 15px;
}

.filters > div {
    float: left;
    padding: 0 15px 10px;
    border: 1px solid #d1d1d1;
    -webkit-box-shadow: 1px 1px 6px #b3b3b3;
    -moz-box-shadow: 1px 1px 6px #b3b3b3;
    box-shadow: 1px 1px 6px #b3b3b3;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.filters h5,
.filters h6 {
    font-family: 'Arial Black', sans-serif;
    color: #154467;
    line-height: 1;
    margin-bottom: 8px;
}

.filters h5 {
    font-size: 12px;
}

.filters .form-group {
    margin-bottom: 4px;
}

.filters .form-group label {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
    font-size: 10px;
    color: #000;
}

.filters .form-group label span {
    color: #77858b;
}

.filters .form-group select {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding-right: 5px;
    height: 17px;
    min-width: 45px;
    background: url(../img/filters/select-left.png) left top no-repeat,
    url(../img/filters/select-right.png) right top no-repeat,
    url(../img/filters/select-middle.png) left 5px top repeat-x;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filters .btn-search {
    float: right;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    font-size: 14px;
    font-style: italic;
    color: #154467;
    text-decoration: underline;
}

.filters .btn-search:hover,
.filters .btn-search:focus {
    color: #8a9296;
}

.search-by-auto {
    position: relative;
    width: 416px;
    margin: 0 12px 0 4px;
}

.search-by-auto h5 {
    text-align: center;
}

.search-by-auto h6 {
    font-size: 10px;
    text-transform: capitalize;
    position: absolute;
    top: 5px;
}

.tires h6 {
    right: 26px;
    top: 2px;
}

.wheels h6 {
    left: 20px;
    top: 4px;
}

.wheels {
    width: 50%;
    float: left;
}

.tires {
    width: auto;
    float: right;
}

.search-tires {
    width: 191px;
}

.search-tires .form-group > label {
    width: 38px;
}

.search-tires .checkbox {
    position: relative;
}

.search-tires input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    top: 2px;
    left: -5px;
    z-index: 10;
}

.search-tires input[type='checkbox'] + label span {
    display: inline-block;
    width: 11px;
    height: 10px;
    vertical-align: middle;
    background: url(../img/filters/checkbox.png) left top no-repeat;
    cursor: pointer;
}

.search-tires input[type='checkbox']:checked + label span:after {
    content: '✓';
    position: absolute;
    bottom: 1px;
    left: 2px;
    z-index: 1;
    font-size: 15px;
    height: 100%;
    color: #000;
}

.search-tires .form-group:last-child {
    display: inline-block;
}

.search-tires .checkbox-group {
    display: inline-block;
    vertical-align: top;
}

.filters .search-wheels {
    width: 266px;
    float: right;
    margin-right: 5px;
}

.search-wheels .form-group label {
    width: 85px;
    line-height: 12px;
}

.search-wheels .left {
    width: 65%;
    float: left;
}

.search-wheels .right {
    width: 35%;
    float: right;
    padding-left: 10px;
    border-left: 1px solid #bdc6ca;
    margin-bottom: 6px;
}

.wheels-search .right label {
    width: 65px;
}

/* Main content */

.catalog .filters {
    width: 183px;
}

.results,
.left-sidebar {
    float: left;
}

.right-sidebar {
    float: right;
}

.results {
    width: 526px;
    padding: 15px 28px 3px 22px;
    margin: 0 8px;
    background: -webkit-linear-gradient(rgb(229, 231, 232), rgb(147, 167, 176));
    background: -moz-linear-gradient(rgb(229, 231, 232), rgb(147, 167, 176));
    background: -o-linear-gradient(rgb(229, 231, 232), rgb(147, 167, 176));
    background: linear-gradient(rgb(229, 231, 232), rgb(147, 167, 176));
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.results figure {
    width: 140px;
    float: left;
    margin-bottom: 25px;
    text-align: center;
    cursor: pointer;
}

.results figure:nth-child(3n+2) {
    margin: 0 28px;
}

.results .img-container {
    padding: 2px 0;
    background: #fff;
    border: 1px solid #aab3b6;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.results figure h3 a {
    color: #206988;
    font-size: 14px;
    display: block;
    line-height: 14px;
    font-weight: bold;
}

.results figure p {
    line-height: 13px;
}

.results figure p a {
    color: #1f2528;
    font-size: 13px;
    display: block;
    line-height: 13px;
    text-transform: capitalize;
}

.results figure h3 a:hover,
.results figure h3 a:focus,
.results figure p a:hover,
.results figure p a:focus {
    color: #52abcb;
}

.results figcaption {
    padding-top: 3px;
    color: #114165;
    font: 16px Arial, sans-serif;
    font-style: italic;
    font-weight: bold;
}

.catalog .filters h2 {
    font-size: 13px;
    text-transform: uppercase;
    color: #114165;
    padding: 2px 0 2px 25px;
    margin: 2px 0 13px;
    border: 1px solid #818b8f;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    background: url(../img/icons/icon-file-text.png) no-repeat top 1px left 2px;
    -webkit-box-shadow: 1px 1px 3px #bfbfbf;
    -moz-box-shadow: 1px 1px 3px #bfbfbf;
    box-shadow: 1px 1px 3px #bfbfbf;
}

.catalog .filters > ul > li > a,
.right-sidebar ul li a {
    display: block;
    width: 150px;
    padding: 2px 0 2px 30px;
    border: 1px solid #79878d;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background: url(../img/icons/icon-dot-circle.png) no-repeat top 1px left 3px;
    color: #114165;
    text-transform: uppercase;
}

.catalog .filters > ul > li > a span,
.right-sidebar ul li a span {
    display: inline-block;
    vertical-align: middle;
}

.catalog .filters .sub li {
    padding: 2px 0 2px 45px;
    background: url(../img/disc.png) no-repeat top 9px left 35px;
}

.catalog .filters .sub li:hover,
.catalog .filters .sub li:focus {
    background: url(../img/disc-active.png) no-repeat top 9px left 35px;
}

.catalog .filters .sub a {
    font-size: 13px;
    color: #465961;
}

.catalog .filters .sub a:hover,
.catalog .filters .sub a:focus {
    color: #0c3256;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.catalog .right-sidebar h2 {
    margin: 0 0 13px;
    padding: 2px 0 2px 30px;
}

.right-sidebar .checkbox-group {
    margin-bottom: 9px;
}

.right-sidebar ul li a {
    margin-left: 15px;
    width: 135px;
}

.right-sidebar .checkbox {
    padding: 4px 0 2px 35px;
    font-size: 13px;
    color: #465961;
    position: relative;
}

.right-sidebar input[type='checkbox'] {
    opacity: 0;
    position: absolute;
    z-index: 10;
    top: 7px;
    left: 24px;
}

.right-sidebar input[type='checkbox'] + label span {
    display: inline-block;
    width: 11px;
    height: 11px;
    position: relative;
    right: 10px;
    vertical-align: middle;
    background: url(../img/checkbox.png) left top no-repeat;
    cursor: pointer;
}

.right-sidebar input[type="checkbox"]:checked + label span:after {
    content: '✔';
    position: absolute;
    bottom: 7px;
    left: 2px;
    z-index: 1;
    font-size: 15px;
    height: 100%;
    color: #465961;
}

.right-sidebar .btn {
    display: block;
    margin: 16px 0 0 24px;
    padding: 5px 11px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: -webkit-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: -moz-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: -o-linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    background: linear-gradient(rgb(31, 103, 135), rgb(12, 51, 87));
    -webkit-box-shadow: 1px 2px 6px #697b8b;
    -moz-box-shadow: 1px 2px 6px #697b8b;
    box-shadow: 1px 2px 6px #bec0c1;
    font-size: 12px;
    color: #e5e9ea;
    text-transform: uppercase;
}

.right-sidebar .btn:hover,
.right-sidebar .btn:focus {
    opacity: 0.8;
    color: #fff;
}

.brands {
    margin: 40px 0 15px 0;
    text-align: center;
}

.brands li {
    display: inline-block;
    padding: 0 5px;
}

.brands a {
    display: inline-block;
    vertical-align: top;
}

.brands a:hover {
    opacity: .8;
}

.brands li:nth-child(6) a {
    position: relative;
    top: -3px;
}

/* Footer */

footer {
    border-top: #242c3e;
    border-left: #242c3e;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #213a4d;
    height: 100px;
    text-align: center;
    font-family: Arial, sans-serif;
}

footer li {
    display: inline;
}

footer li:before {
    content: " | ";
    color: #bec6c9;
}

footer li:first-child:before {
    content: none;
}

footer a {
    display: inline-block;
    padding: 11px 7px 10px 9px;
    font-size: 12px;
    color: #bec6c9;
}

footer a:hover,
footer .active a {
    color: #52abcb;
}

.copyright {
    font-size: 10px;
    color: #7f4740;
    padding-top: 3px;
}